<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            <b>Access Healthcare</b>
        </title>
        <link href="/public/css/healthcare.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div align="center">
            <div class="rect">
                <h1>Access Healthcare</h1>
            </div>
        </div>
        <img src="/public/img/hospital.png" alt="Hospital" class="cntrl">

        <table style="width: 100%">
            <tr height=350px></tr> 
            <tr>
                <td>
                    <div id="lm">
                        <button onclick="location.href='learnmore.html'"
                        class="btnbtn-prim btn--block">Learn More</button>
                    </div>
                </td>
                <td>
                    <div id="rm">
                        <button onclick="location.href='find_location.html'" 
                        class="btnbtn-prim btn--block">Find a Location</button>
                    <div>

                </td>
            </tr>
        </table>
    </body>
</html>